body {
  font-family: Verdana;
  text-align: center;
  font-weight: normal;
  color: white;
}

h1 {
  font-weight: 300;
  font-size: 42px;
}

#discover {
  font-size: 50px;
}

h2 {
  font-size: 21px;
  color: gray;
}

h3 {
  font-size: 16px;
  color: Aquamarine;
}

.trademark {
  text-align: right;
  background-color: none;
}
